In [76]:
import numpy as np
import pandas as pd

df = pd.read_csv('adult.csv',na_values=['#NAME?'])

print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [77]:
print(df['income'].value_counts())

<=50K    37155
>50K     11687
Name: income, dtype: int64

In [78]:
x = df.drop('income', 1)
y = df.income

print(x.head(5))

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country
0              40  United-States
1              50  United-States
2              40  United-States
3              40  United-States
4              30  United-States

In [79]:
print(y.head(5))

0    <=50K
1    <=50K
2     >50K
3     >50K
4    <=50K
Name: income, dtype: object

In [80]:
print(x['education'].head(5))

0            11th
1         HS-grad
2      Assoc-acdm
3    Some-college
4    Some-college
Name: education, dtype: object

In [81]:
print(pd.get_dummies(x['education']).head(5))

   10th  11th  12th  1st-4th  5th-6th  7th-8th  9th  Assoc-acdm  Assoc-voc  \
0     0     1     0        0        0        0    0           0          0
1     0     0     0        0        0        0    0           0          0
2     0     0     0        0        0        0    0           1          0
3     0     0     0        0        0        0    0           0          0
4     0     0     0        0        0        0    0           0          0

   Bachelors  Doctorate  HS-grad  Masters  Preschool  Prof-school  \
0          0          0        0        0          0            0
1          0          0        1        0          0            0
2          0          0        0        0          0            0
3          0          0        0        0          0            0
4          0          0        0        0          0            0

   Some-college
0             0
1             0
2             0
3             1
4             1

In [82]:
for col_name in x.columns:
    if(x[col_name].dtypes == 'object'):
       unique_cat = len(x[col_name].unique())
       print("Feature '{col_name}' has {unique_cat} unique categories".format(col_name=col_name, unique_cat=unique_cat))

Feature 'workclass' has 9 unique categories
Feature 'education' has 16 unique categories
Feature 'marital-status' has 7 unique categories
Feature 'occupation' has 15 unique categories
Feature 'relationship' has 6 unique categories
Feature 'race' has 5 unique categories
Feature 'gender' has 2 unique categories
Feature 'native-country' has 42 unique categories

In [83]:
print(x['native-country'].value_counts().sort_values(ascending=False).head(10))

United-States    43832
Mexico             951
?                  857
Philippines        295
Germany            206
Puerto-Rico        184
Canada             182
El-Salvador        155
India              151
Cuba               138
Name: native-country, dtype: int64

In [84]:
#bucket low frequency countries into 'other' category

In [85]:
x['native-country'] = ['United-States' if i == 'United-States' else 'Other' for i in x['native-country']]

In [86]:
print(x['native-country'].value_counts().sort_values(ascending=False).head(10))

United-States    43832
Other             5010
Name: native-country, dtype: int64

In [87]:
#create dummy list
todummy_list = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

In [88]:
def dummy_df(df, todummy_list):
    for s in todummy_list:
        dummies = pd.get_dummies(df[s], prefix=s, dummy_na=False)
        df = df.drop(s, 1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [89]:
X = dummy_df(x, todummy_list)
print(X.head(5))

   age  fnlwgt  educational-num  capital-gain  capital-loss  hours-per-week  \
0   25  226802                7             0             0              40
1   38   89814                9             0             0              50
2   28  336951               12             0             0              40
3   44  160323               10          7688             0              40
4   18  103497               10             0             0              30

   workclass_?  workclass_Federal-gov  workclass_Local-gov  \
0            0                      0                    0
1            0                      0                    0
2            0                      0                    1
3            0                      0                    0
4            1                      0                    0

   workclass_Never-worked  ...  relationship_Wife  race_Amer-Indian-Eskimo  \
0                       0  ...                  0                        0
1                       0  ...                  0                        0
2                       0  ...                  0                        0
3                       0  ...                  0                        0
4                       0  ...                  0                        0

   race_Asian-Pac-Islander  race_Black  race_Other  race_White  gender_Female  \
0                        0           1           0           0              0
1                        0           0           0           1              0
2                        0           0           0           1              0
3                        0           1           0           0              0
4                        0           0           0           1              1

   gender_Male  native-country_Other  native-country_United-States
0            1                     0                             1
1            1                     0                             1
2            1                     0                             1
3            1                     0                             1
4            0                     0                             1

[5 rows x 68 columns]

In [90]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer 

imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(X)
X = pd.DataFrame(data=imp.transform(X), columns=X.columns)

In [91]:
# conda install -c conda-forge imbalanced-learn

In [92]:
# conda install nb_conda

In [93]:
X.isnull().sum().sort_values(ascending=False).head()

native-country_United-States    0
education_Bachelors             0
education_1st-4th               0
education_5th-6th               0
education_7th-8th               0
dtype: int64

In [94]:
#outlier detection
def find_outliers_tukey(x):
    q1 = np.percentile(x, 25)
    q3 = np.percentile(x, 75)
    iqr = q3-q1
    floor = q1 - 1.5*iqr
    ceiling = q3 + 1.5*iqr
    outlier_indices = list(x.index[(x<floor)|(x>ceiling)])
    outlier_values = list(x[outlier_indices])
    
    return outlier_indices, outlier_values
tukey_indices, tukey_values = find_outliers_tukey(X['age'])
print(np.sort(tukey_values))

[79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79.
 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 79. 80. 80. 80. 80. 80. 80.
 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80.
 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 80. 81. 81. 81. 81.
 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81.
 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 81. 82. 82. 82.
 82. 82. 82. 82. 82. 82. 82. 82. 82. 82. 82. 82. 83. 83. 83. 83. 83. 83.
 83. 83. 83. 83. 83. 84. 84. 84. 84. 84. 84. 84. 84. 84. 84. 84. 84. 84.
 85. 85. 85. 85. 85. 86. 87. 87. 87. 88. 88. 88. 88. 88. 88. 89. 89. 90.
 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90.
 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90.
 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90. 90.]

In [95]:
from sklearn.preprocessing import scale
from statsmodels.nonparametric.kde import KDEUnivariate

def find_outliers_kde(x):
    x_scaled = scale(list(map(float, x)))
    kde = KDEUnivariate(x_scaled)
    ked.fit(bw="scott", fft=True)
    pred = kde.evaluate(x_scaled)
    
    n = sum pred < 0.05
    outlier_ind = np.asarray(pred).argsort()[:n]
    outlier_value = np.asarray(x)[outlier_ind]
    
    return outlier_ind, outlier_value

kde_indices, kde_values = find_outliers_kde(X['age'])
print(np.sort(kde_values))

SyntaxError: invalid syntax (<ipython-input-95-7022a08b4df9>, line 10)

In [97]:
%matplotlib inline
import matplotlib.pyplot as plt

In [98]:

from sklearn.decomposition import PCA

pca = PCA(n_components=10)
X_pca = pd.DataFrame(pca.fit_transform(X))

print(X_pca.head(5))

               0            1          2          3         4         5  \
0   37138.149346 -1069.158058 -88.736164 -12.508381  3.450152  2.961200
1  -99849.846043 -1105.158672 -91.037876   1.465066  9.688308  1.403067
2  147287.145485 -1040.207444 -86.839995  -8.424330  2.627335 -2.186870
3  -29342.869347  6601.360796 -76.721967   3.785370 -2.375819  0.351518
4  -86166.846289 -1101.567972 -90.878676 -23.202494 -3.996246 -0.261292

          6         7         8         9
0  0.060787  0.553647  0.205093 -0.172474
1 -0.900187 -0.198709 -0.597476  0.197971
2 -1.209906 -0.343261  0.461151  0.596235
3 -0.778296 -0.226442  0.267971 -0.733379
4  0.508733 -0.338485  1.328450  0.486025

In [99]:
# from sklearn.cross_validation import train_test_split
from sklearn.model_selection import cross_validate

In [100]:



from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                         train_size=0.7, random_state=42)

In [101]:
print(df.shape)
print(X.shape)

(48842, 15)
(48842, 68)

In [102]:
import sklearn.feature_selection

select = sklearn.feature_selection.SelectKBest(k=20)
selected_features = select.fit(X_train, y_train)
indices_selected = selected_features.get_support(indices=True)
colnames_selected = [X.columns[i] for i in indices_selected]

X_train_selected = X_train[colnames_selected]
X_test_selected = X_test[colnames_selected]

In [103]:
colnames_selected

['age',
 'educational-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'workclass_Self-emp-inc',
 'education_Bachelors',
 'education_Masters',
 'education_Prof-school',
 'marital-status_Married-civ-spouse',
 'marital-status_Never-married',
 'occupation_Exec-managerial',
 'occupation_Other-service',
 'occupation_Prof-specialty',
 'relationship_Husband',
 'relationship_Not-in-family',
 'relationship_Own-child',
 'relationship_Unmarried',
 'gender_Female',
 'gender_Male']

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

def find_model_perf(X_train, y_train, X_test, y_test):
    model = LogisticRegression()
    model.fit(X_train, y_train)
    y_hat = [X[1] for x in model.predict_proba(X_test)]
    auc = roc_auc_score